@import './../../node_modules/bulma/sass/utilities/mixins.sass';

.section {
  &.custom-section {
    @include desktop {
      padding: 0 20%;
    }

    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
  }
}